/* globals.css */

body {
  background-color: #0f1d1c;
  color: white;
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans);

}

/* Class for navigation buttons*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem; 
  border-radius: 30px; 
  font-weight: 500;
  transition: opacity 0.2s;
  cursor: pointer; 
  margin: 0 auto;
  width: fit-content; 
}

.nav a {
  color: #0f1d1c;  
  text-decoration: none; 
  padding: 0.1rem 1rem;
  background-color: transparent; 
  border-radius: 30px; 
  transition: background-color 0.3s, opacity 0.2s; 
  font-weight: bolder;
}

/*Styling for all navigating buttons*/

.nav:hover {
  opacity: 0.8;
}

.nav.bottom {
  margin-top: 34rem;  
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
.nav.login {
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  height: 1rem;
  width: 4rem;
  color: #0f1d1c;
}

.nav.primary {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #5cecc4;
}

.nav.top {
  margin-top: 5rem;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.nav.add{
  margin-top: 0;
  margin-bottom: 0;
  height: 1rem;
  background-color: #5cecc4;
}



/*Login page styling*/

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  background-color: #5cecc4; 
}

.login-container{
  background-color: #0f1d1c; 
  height: 37rem;
  width: 23rem;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgb(47, 46, 46);
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
  gap: 4rem;
}

.login-header {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center; 
  padding: 3rem;

}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  padding-left:2.7rem;
  gap: 3rem;
}


.black-list {
  display: flex;
  align-items: center;
  height: 88vh;
  background-color: #0f1d1c; 
  flex-direction: column;
  gap: 2rem;
}

.location-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.8rem;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%); 
  color: #0f1d1c;
  margin-top: 1rem;
  gap: 0.5rem;
  align-self: flex-end;
  margin-right: 1.5rem;
  font-size: smaller;

}

.black-list-text{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #ffffff; 
  text-align: start;
  align-self: flex-start;
  margin-left: 1.5rem;
  gap: 0.5rem;
}

.black-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  flex: 1;
  width: 100%;
}

.your-black-list-text{
  font-size: 1.2rem;
  font-weight: bold;
  color: #0f1d1c; 
  background-color: #5cecc4;
  height: 2rem;
  width: 100%;
  text-align: center;
  padding-top: 0.4rem;


}

.black-list-items-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  width: 18rem;
}

.bottom-bar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f1d1c; 
  height: 4rem;
  width: 100%;
}

.bottom-bar{
  display: flex;
  gap: 6rem;
}

.black-list-item{
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  font-size: medium;
  font-weight: bold;
  border-bottom: #0f1d1c66;
  color: black;
  border-bottom: 1.3px solid rgba(95, 95, 95, 0.65); 

}

.add-new-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: medium;
  font-weight: bold;
  border-bottom: #0f1d1c66;
  color: black;
  gap: 0.2rem;
}
